@model ThisIsFantasy.Models.FantasyTeam

<div>
    <h4>FantasyTeam</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PlayerName1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName1)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints1)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName2)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId2)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints2)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints2)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName3)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId3)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints3)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName4)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints4)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName5)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId5)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints5)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints5)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName6)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId6)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints6)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints6)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName7)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId7)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints7)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints7)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName8)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId8)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints8)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints8)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName9)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId9)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints9)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints9)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName10)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId10)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints10)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints10)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName11)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId11)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints11)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints11)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName12)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId12)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints12)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints12)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName13)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId13)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints13)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints13)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName14)
        </dd>

        <dt>
            @*@Html.DisplayNameFor(model => model.PlayerStatId14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId14)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints14)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints14)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.PlayerName15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerName15)
        </dd>

        @*<dt>
            @Html.DisplayNameFor(model => model.PlayerStatId15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PlayerStatId15)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotalPoints15)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotalPoints15)
        </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.UserId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.UserId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TeamName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TeamName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
